.products-main {
    background-image: url(/images/pattern.png);
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 600px 600px;
    position: relative;
}

.products-menu {
    width: auto;
}

.pm-tab:hover {
    background-color: grey !important;
}

.pm-tab-sel {
    background-color: #526325 !important;
}

.type-card {
    background: #212529;
    border-radius: 15px;
    -webkit-box-shadow: 4px 4px 44px 13px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 4px 4px 44px 13px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 44px 13px rgba(0, 0, 0, 0.1);
}

.carousel-img {
    width: 500px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.product-card {
    color: black;
    border-radius: 15px;
    -webkit-box-shadow: 4px 4px 44px 13px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 4px 4px 44px 13px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 44px 13px rgba(0, 0, 0, 0.1);
}

.product-img {
    height: 300px;
    width: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 15px;
}

.product-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 30px;
}

.product-name:hover {
    overflow: visible;
    white-space: normal;
}

.product-desc {
    height: 175px;
    overflow: auto;
    padding: 5px;
    padding-left: 0px;
}

.scroll-style::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.scroll-style::-webkit-scrollbar {
    width: 6px;
    background-color: #526325
}

.scroll-style::-webkit-scrollbar-thumb {
    background-color: #526325;
}

.carousel-arrow-left {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("data: image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-arrow-right {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.element {
    font-size: 14px;
}

.element:hover {
    color: white;
    background-color: grey;
}

.element-selected {
    font-size: 14px;
    color: white;
    background-color: #52622b;
}

.cart-btn {
    color: white;
    background-color: #52622b;
}

.cart-btn:hover {
    color: #52622b;
    background-color: white;
    border-color: #52622b;
}

.desc-type {
    height: 220px;
    overflow-y: auto;
}

.listElement {
    padding-top: 13px;
}

@media(max-width: 1200px) {

    .img-type {
        margin: auto;
        padding-bottom: 30px !important;
    }

    .desc-type {
        width: 98%;
        height: 195px;
        margin-bottom: 0px;
    }
}

@media(max-width: 768px) {
    .carousel-img {
        width: 100px;
        height: 200px;
    }
}

@media(max-width: 600px) {
    .carousel-img {
        width: 150px;
        height: 100px;
    }
}

@media(max-width: 1700px) {
    .div-pricegram {
        display: block !important;
    }

    .price1 {
        text-align: center;
    }

    .price-gram {
        font-size: 22px !important;
    }

    .item-price {
        font-size: 22px !important;
    }

    .listElement {
        padding-top: 0;
    }

    .divListElement {
        height: 205px !important;
    }
}

@media(max-width: 1200px) {
    .product-carousel {
        margin: auto;
    }

    .product-img {
        height: 450px !important;
    }

    .product-name {
        white-space: normal;
        overflow: visible;
        text-overflow: initial;
    }

    .div-pricegram {
        display: flex !important;
        justify-content: center !important;
    }

    .pricegram-text {
        flex-grow: 0 !important;
        padding-left: 10px;
    }

    .price-gram {
        font-size: 25px !important;
    }

    .item-price {
        font-size: 28px !important;
    }
}

@media(max-width: 800px) {
    .product-img {
        height: 300px !important;
    }

    .product-name {
        font-size: 26px !important;
    }
}

@media(max-width: 700px) {
    .product-img {
        height: 250px !important;
    }

    .product-name {
        font-size: 24px !important;
    }
}

@media(max-width: 600px) {
    .product-img {
        height: 200px !important;
    }

    .product-name {
        font-size: 22px !important;
    }
}