@{
    Layout = "_AccountLayout";
}

<section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body mt-3 text-center ">
                            <h2 class="fw-bold mb-2" style="font-size: 25px; color: green;">Регистрация пройдена успешно!</h2>

                            <a asp-controller="Account" asp-action="EntryPage" class="vp-link">Войти в аккаунт</a>
                            <br>
                            <a asp-controller="Main" asp-action="HomePage" class="vp-link">Вернуться на главную</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>



