<style>
    .name-shop {
        color: #526325;
    }

    .logo-display {
        display: none;
    }

    .logo_sel-display {
        display: inline-block !important;
    }

    .hp-header {
        color: #526325;
        background-color: silver;
        border-radius: 10px;
    }

    .hp-tab {
        color: #526325;
        background-color: silver;
        border-radius: 10px;
    }
</style>

<div class="container-fluid homepage-body">
    <div class="row hp-row">
        <div class="col-lg-10 offset-lg-1 header-content">
            <h3>Tea Zone</h3>
            <h5>Добро пожаловать в чайную зону</h5>

            <a class="btn btn-success btn-lg hp-btn" asp-controller="Main" asp-action="TeaTypesPage">Виды чая</a>
            <a class="btn btn-success btn-lg hp-btn" asp-controller="Main" asp-action="ProductsPage">Купить чай</a>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            
            <h4>Проект создан с помощью: </h4>
            <h4>ASP.NET 6 Core MVC</h4>
            <h4>Entity Framework Core и SQLite</h4>
        </div>

        <div class="overlay"></div>
    </div>
</div>