<style>
    .logo_sel-display {
        display: none;
    }

    .tp-header {
        color: #526325;
        background-color: silver;
        border-radius: 10px;
    }

    .tp-tab {
        color: #526325;
        background-color: silver;
        border-radius: 10px;
    }
</style>

<div class="container-fluid typespage-body">
    <div class="container align-items-center text-center">

        <div class="row" style="padding-top: 25px;">
            <div class="col-xl-4 col-md-5 col-sm-5 col-5">
                <a class="type-link" href="/Main/ProductsPage/1"><div class="circle float-end">Пуэр</div></a>
            </div>
            <div class="col-xl-4 col-md-2 col-sm-2 col-2">
            </div>
            <div class="col-xl-4 col-md-5 col-sm-5 col-5">
                <a class="type-link" href="/Main/ProductsPage/2"><div class="circle float-start">Улун</div></a>
            </div>
        </div>

        <div class="row align-items-center middle-type">
            <div class="col-xl-3 col-md-3 col-sm-4 col-4">
                <a class="type-link float-start" href="/Main/ProductsPage/3"><div class="circle greentea"><div class="inner-text">Зеленый чай</div></div></a>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-4 col-4" style="padding: 0px;">
                <div class="circle-big" style="margin: 0 auto;"><a class="type-link" href="#"><img class="types-img" src="/images/logo_type.png" height="200" style="padding-left: 5px; margin-top: -7px;" /></a></div>
            </div>
            <div class="col-xl-3 col-md-3 col-sm-4 col-4">
                <a class="type-link" href="/Main/ProductsPage/4"><div class="circle float-end"><div class="inner-text">Красный чай</div></div></a>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4 col-md-5 col-sm-5 col-5">
                <a class="type-link" href="/Main/ProductsPage/5"><div class="circle float-end"><div class="inner-text">Белый<br>чай</div></div></a>
            </div>
            <div class="col-xl-4 col-md-2 col-sm-2 col-2">
            </div>
            <div class="col-xl-4 col-md-5 col-sm-5 col-5">
                <a class="type-link float-start" href="/Main/ProductsPage/6"><div class="circle">Хэй ча</div></a>
            </div>
        </div>

    </div>
</div>